.sidebar {
  background: #fff;
  width: 250px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  transition: transform 0.5s;
}

.sidebar_deactivate {
  transform: translateX(-250px);
}

.sidebar_btn_wrap {
  display: flex;
  justify-content: flex-end;
}

.sidebar_close_btn {
  background: rgb(232, 92, 92);
  border: none;
  border-radius: 0;
}

.sidebar_close_btn:hover {
  background: red;
  color: #fff;
  border: none;
}

.sidebar_close_btn svg {
  font-size: 24px;
}

.sidebar_list {
  display: flex;
  flex-direction: column;
}

.sidebar_item {
  display: flex;
}

.sidebar_item a {
  width: 100%;
  padding: 12px 8px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #5f6368;
  justify-content: space-between;
}

.sidebar_item a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.sidebar_item .active {
  background-color: #fcaf17;
  color: #000;
}

.sidebar_item .active:hover {
  background-color: #fcaf17;
  color: #000;
}

.sidebar_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.sidebar_icon {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 500;
}

@media (min-width: 768px) {
  .sidebar {
    /* display: none; */
  }
}
