.address_card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 1em;
  border-radius: 4px;
  background: #000;
  border: 5px solid #fcaf17;
}

.address_card_body {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.address_card_body_item {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  color: #fff;
  font-size: 1.2rem;
}

.address_card_body_item_key {
  font-weight: 700;
}

.address_card_actions {
  display: flex;
  justify-content: space-between;
}

.address_card_delete,
.address_card_edit {
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.address_card_delete {
  background: red;
}

.address_card_edit {
  background: green;
}

.address_card_edit:hover {
  background: #03c04a;
}

.address_card_delete:hover {
  background: #ff2400;
}

.address_card_edit:hover,
.address_card_delete:hover {
  color: #fff;
  border: none;
}
