.modal_content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #2b2b2b;
  min-width: 350px;
  min-height: 200px;
  border-radius: 4px 16px 4px 4px;
  padding: 24px 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal_close {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
}

.modal_close_btn {
  background: lightcoral;
  color: #fff;
  padding: 0.5em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 50%;
}
.modal_close_btn:hover {
  background: red;
  color: #fff;
  border: none;
}

.modal_close_btn svg {
  font-size: 24px;
  line-height: 0;
}
