.header {
  display: flex;
  gap: 32px;
  padding: 1em;
  border-bottom: 0.5px solid #ddd;
  justify-content: space-between;
}

.header_primary {
  display: flex;
  gap: 16px;
  align-items: center;
}

.header_hamburger {
  padding: 8px 12px;
}

.header_hamburger svg {
  font-size: 28px;
}

.header_img {
  width: 32px;
  height: 32px;
}

.nav_btns {
  display: flex;
  gap: 16px;
}

.nav_btn {
  font-size: 12px;
  padding: 0.5em;
}

.nav_btn svg {
  font-size: 20px;
}
