.header {
  border-bottom: 0.5px solid #ddd;
}

.header_wrap {
  display: flex;
  gap: 32px;
  padding: 1em 1.5em;
  justify-content: space-between;
  align-items: center;
}

.header_primary {
  display: flex;
  gap: 16px;
  align-items: center;
}

.header_hamburger {
  padding: 8px 12px;
}

.header_hamburger svg {
  font-size: 28px;
}

.header_img {
  width: 32px;
  height: 32px;
}

.nav_btns {
  display: flex;
  gap: 16px;
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 0.5em;
}

.nav_btn svg {
  font-size: 20px;
}

.sign_up_form_wrap,
.sign_in_form_wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sign_up_form,
.sign_in_form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sign_in_form {
  gap: 12px;
}

.sign_up_form input,
.sign_in_form input {
  padding: 8px;
  width: 100%;
  font-family: inherit;
}

.sign_up_meta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.is_sign_in,
.is_forget,
.is_sign_up {
  display: flex;
  justify-content: center;
  gap: 16px;
  color: #fff;
  font-size: 1.2rem;
}

.sign_in_remember {
  display: flex;
  gap: 16px;
  width: 100%;
}

.sign_in_remember input {
  width: auto;
}

.sign_in_remember span {
  color: #fff;
}

.is_sign_in a,
.is_forget a,
.is_sign_up a {
  color: #fff;
}

.form_head {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.form_head img {
  width: 40px;
  height: 40px;
}

.form_head h2 {
  color: #fff;
}

@media (min-width: 768px) {
  .header_hamburger {
    display: none;
  }
}

@media (min-width: 1280px) {
  .header_wrap {
    max-width: 1280px;
    margin: 0 auto;
  }
}
