.header {
  border-bottom: 0.5px solid #ddd;
}

.header_wrap {
  display: flex;
  gap: 32px;
  padding: 1em 1.5em;
  justify-content: space-between;
  align-items: center;
}

.header_primary {
  display: flex;
  gap: 16px;
  align-items: center;
}

.header_action_hamburger {
  padding: 8px 12px;
}

.header_hamburger svg {
  font-size: 28px;
}

.header_img {
  width: 32px;
  height: 32px;
}

.header_account_actions {
  display: flex;
  gap: 16px;
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 0.5em;
}


@media (min-width: 768px) {
  .header_primary .header_action_hamburger {
    display: none;
  }
}

@media (min-width: 1280px) {
  .header_wrap {
    max-width: 1280px;
    margin: 0 auto;
  }
}
