.sign_in_form_wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form_head {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.form_head img {
  width: 40px;
  height: 40px;
}

.form_head h2 {
  color: #fff;
}

.sign_in_form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sign_in_form input {
  padding: 8px;
  width: 100%;
  font-family: inherit;
}

.sign_in_remember {
  display: flex;
  gap: 16px;
  width: 100%;
}

.sign_in_remember input {
  width: auto;
}

.sign_in_remember span {
  color: #fff;
}

.is_sign_up {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  color: #fff;
  font-size: 1.2rem;
}

.is_sign_up a {
  color: #fff;
}

.login_password {
  position: relative;
}

.login_password_visibility {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-5%, -50%);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: 0.2s ease;
  z-index: 4;
}

.login_password_visibility:hover {
  background: #ddd;
}
