.fame_section,
.trending_section,
.category_section {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0 16px;
}

.section_head {
  font-size: 24px;
  color: #fcaf17;
}

.fame_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fame_body {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-areas:
    "A A A A"
    "D D E E"
    "F F G G"
    "F F G G"
    "B B B B";
}

.fame_item_0 {
  grid-area: A;
}

.fame_item_1 {
  grid-area: B;
}

.fame_item_2 {
  grid-area: C;
}

.fame_item_3 {
  grid-area: D;
}

.fame_item_4 {
  grid-area: E;
}

.fame_item_5 {
  grid-area: F;
}

.fame_item_6 {
  grid-area: G;
}

.fame_item {
  opacity: 0.5;
  transition: all 0.5s;
  cursor: pointer;
  overflow: hidden;
}

.fame_item:hover {
  opacity: 1;
}

.fame_item img {
  transform: scale(1);
  transition: transform 0.5s ease;
}

.fame_item img:hover {
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .fame_body {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas:
      "A A B B"
      "D D E E"
      "F F G G"
      "F F G G";
  }

  .fame_section,
  .trending_section,
  .category_section {
    padding: 0 32px;
  }
}

@media (min-width: 1280px) {
  .section_head {
    font-size: 32px;
    color: #fcaf17;
  }

  .fame_body {
    grid-template-columns: 37% 20% 20% 20%;
    grid-template-rows: repeat(2, 340px);
    grid-template-areas:
      "A B C D"
      "A E F G";
    row-gap: 0;
    column-gap: 1%;
    row-gap: 12px;
  }

  .fame_section,
  .trending_section,
  .category_section {
    padding: 0 64px;
  }
}

@media (min-width: 1350px) {
  .fame_section,
  .trending_section,
  .category_section {
    padding: 0;
  }
}
