.detail_section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2%;
  align-items: flex-start;
}

.detail_content {
  background: #2b2b2b;
  border-radius: 4px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.detail_action {
  background: #2b2b2b;
  border-radius: 4px;
  padding: 16px;
}

.detail_content_intro {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.detail_content_intro_body {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.detail_content_intro_head {
  font-size: 32px;
  color: #fff;
  text-align: center;
}

.detail_content_intro_thumbnail {
  /* flex-basis: 50%; */
}

.detail_content_intro_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.detail_content_intro_text p {
  background-color: rgb(38, 38, 38);
  padding: 16px;
  font-size: 14px;
  color: #fff;
  font-weight: 300;
  letter-spacing: 0.5px;
  flex: 1;
}

.detail_content_intro_thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detail_content_bread {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 16px;
  border-radius: 4px;
}

.detail_content_bread_item {
  /* width: 100px;
  height: 100px; */
  background-color: rgb(38, 38, 38);
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  gap: 16px;
}

.detail_content_bread_item span {
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
}

.detail_content_bread_item strong {
  font-size: 12px;
  color: #fcaf17;
}

/* DETAIL ACTION */

.detail_action {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.detail_action_thumbnail {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.detail_action_thumbnail img {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}

.detail_action_price {
  font-size: 3.2rem;
  color: #fff;
  font-weight: 600;
  opacity: 0.8;
  margin: 0 auto;
}

.detail_action_btn {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.detail_action_meta {
  display: flex;
  flex-direction: column;
}

.detail_action_meta_item {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  padding: 12px;
  border-bottom: 0.5px solid #fff;
  color: #fff;
}

.detail_action_meta_item_title {
  opacity: 0.8;
}

.detail_content_specs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.detail_content_specs_column {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-basis: 50%;
  background: rgb(38, 38, 38);
  padding: 16px;
  border-radius: 4px;
}

.detail_content_specs_column_head {
  font-size: 18px;
  color: #fff;
}

.detail_content_specs_column_item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.detail_content_specs_column_item span {
  font-size: 14px;
  color: #fff;
  opacity: 0.6;
}

.detail_content_specs_column_item p {
  font-size: 14px;
  color: #fff;
}

@media (min-width: 652px) {
  .detail_content_intro_thumbnail img {
    width: 260px;
  }

  .detail_content_intro_body {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 780px) {
  .detail_content_intro_body {
    display: flex;
    flex-direction: row;
  }

  .detail_content_specs {
    flex-direction: row;
  }

  .detail_action_thumbnail img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
  }

  /* .detail_action {
    width: 40%;
    margin: 0 auto;
  } */
}

@media (min-width: 1280px) {
  .detail_section {
    display: grid;
    grid-template-columns: 68% 30%;
    gap: 2%;
    align-items: flex-start;
  }
  .detail_content_intro_head {
    font-size: 32px;
    color: #fff;
    text-align: left;
  }

  .detail_content_intro_body {
    gap: 32px;
  }

  .detail_content_specs {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  /* .detail_action {
    width: unset;
    margin: unset;
  } */
}
