.second_carousel_wrap {
  position: relative;
}

.second_carousel {
  white-space: nowrap;
  max-width: 1280px;
  overflow: hidden;
  cursor: pointer;
  scroll-behavior: smooth;
}

/* ----------------------------------------------------------------------------------- */

/* CAROUSEL SLIDE */

.second_carousel_slide {
  display: inline-block;
  height: 350px;
  width: 100%;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  transition: transform 0.2s;
}

.second_carousel_slide:active {
  transform: scale(0.98);
}

/* CAROUSEL SLIDE => PSEUDO ELEMENT */

.second_carousel_slide_0::before,
.second_carousel_slide_1::before,
.second_carousel_slide_2::before,
.second_carousel_slide_3::before,
.second_carousel_slide_4::before,
.second_carousel_slide_5::before,
.second_carousel_slide_6::before,
.second_carousel_slide_7::before,
.second_carousel_slide_8::before,
.second_carousel_slide_9::before {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 4;
  opacity: 0.8;
  transition: opacity 0.5s;
}

/* CAROUSEL SLIDE => PSEUDO ELEMENT => HOVER*/

.second_carousel_slide_0:hover::before,
.second_carousel_slide_1:hover::before,
.second_carousel_slide_2:hover::before,
.second_carousel_slide_3:hover::before,
.second_carousel_slide_4:hover::before,
.second_carousel_slide_5:hover::before,
.second_carousel_slide_6:hover::before,
.second_carousel_slide_7:hover::before,
.second_carousel_slide_8:hover::before,
.second_carousel_slide_9:hover::before {
  opacity: 1;
}

/* CAROUSEL SLIDE (CARD ONE) => PSEUDO ELEMENT */

.second_carousel_slide_0::before {
  background: linear-gradient(rgba(0, 0, 0, 0), rgb(139, 0, 139) 100%);
}

/* CAROUSEL SLIDE (CARD TWO) => PSEUDO ELEMENT */

.second_carousel_slide_1::before {
  background: linear-gradient(rgba(0, 0, 0, 0), rgb(233, 140, 0) 100%);
}

/* CAROUSEL SLIDE (CARD THREE) => PSEUDO ELEMENT */

.second_carousel_slide_2::before {
  background: linear-gradient(rgba(0, 0, 0, 0), rgb(139, 0, 0) 100%);
}

/* CAROUSEL SLIDE (CARD FOUR) => PSEUDO ELEMENT */

.second_carousel_slide_3::before {
  background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 139) 100%);
}

/* CAROUSEL SLIDE (CARD FIVE) => PSEUDO ELEMENT */

.second_carousel_slide_4::before {
  background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 100, 0) 100%);
}

/* CAROUSEL SLIDE (CARD SIX) => PSEUDO ELEMENT */

.second_carousel_slide_5::before {
  background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 139, 139) 100%);
}

/* CAROUSEL SLIDE (CARD SEVEN) => PSEUDO ELEMENT */

.second_carousel_slide_6::before {
  background: linear-gradient(rgba(0, 0, 0, 0), rgb(139, 0, 139) 100%);
}

/* CAROUSEL SLIDE (CARD EIGHT) => PSEUDO ELEMENT */

.second_carousel_slide_7::before {
  background: linear-gradient(rgba(0, 0, 0, 0), rgb(233, 140, 0) 100%);
}

/* CAROUSEL SLIDE (CARD NINE) => PSEUDO ELEMENT */

.second_carousel_slide_8::before {
  background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 139, 139) 100%);
}

/* CAROUSEL SLIDE (CARD TEN) => PSEUDO ELEMENT */

.second_carousel_slide_9::before {
  background: linear-gradient(rgba(0, 0, 0, 0), rgb(139, 0, 0) 100%);
}

/* CAROUSEL LABEL*/

.second_carousel_slide_label {
  position: absolute;
  z-index: 5;
  width: 100%;
  bottom: 20%;
  text-align: center;
  color: #fff;
}

.second_carousel_slide_label span {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 800;
}

/* ----------------------------------------------------------------------------------- */

/* BUTTON => PREV & NEXT */

.second_carousel_btn {
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #fcaf17;
  transition: transform 0.2s;
  position: absolute;
  z-index: 7;
  user-select: none;
}

.second_carousel_prev,
.second_carousel_next {
  transform: translate(0, -50%);
  top: 50%;
}

.second_carousel_prev {
  left: 0;
}

.second_carousel_next {
  right: 0;
}

.second_carousel_btn svg {
  font-size: 20px;
}

.second_carousel_prev:hover,
.second_carousel_next:hover {
  transform: translate(0, -50%) scale(1.05);
}

.second_carousel_prev:active {
  transform: translate(0, -50%) scale(1);
}

.second_carousel_next:active {
  transform: translate(0, -50%) scale(1);
}

.second_carousel_slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* ------------------------------------------------------------- */

@media (min-width: 768px) {
  .second_carousel_slide {
    height: 280px;
    width: calc(100% / 6);
  }

  .second_carousel_slide:not(:last-child) {
    margin-right: 16px;
  }

  .second_carousel_btn {
    width: 40px;
    height: 40px;
    transition: transform 0.2s;
  }

  .second_carousel_prev {
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
  }

  .second_carousel_prev:hover {
    transform: translate(0, -50%) scale(1.05);
  }

  .second_carousel_next {
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
  }

  .second_carousel_next:hover {
    transform: translate(0, -50%) scale(1.05);
  }
}
