/* SLIDER RESET */

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
  padding: 0;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #fcaf17;
  height: 1rem;
  border-radius: 4px;
}

input[type="range"]::-moz-range-track {
  background: #fcaf17;
  height: 1rem;
  border-radius: 4px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -5px;
  background-color: #fff;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
  border: none;
  border-radius: 0;
  background-color: #fff;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

/* --------------------------------------------------------------------------------- */

fieldset {
  border: none;
}

.filter {
  background: #2b2b2b;
  padding: 16px 24px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.filter_wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.filter_field {
  display: flex;
  flex-direction: column;
}

.filter_legend {
  color: #fff;
}

.filter_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter_title {
  color: #fff;
}

.filter_rating_label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: #0b0b0b;
  border-radius: 4px;
  padding: 20px 16px;
}

.filter_rating_label span {
  color: #fff;
}

.filter_rating_label datalist {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

@media (min-width: 600px) {
  .filter {
    width: 450px;
    margin: 0 auto;
  }
}

@media (min-width: 1280px) {
  .filter {
    width: auto;
    margin: unset;
    align-self: flex-start;
  }
}
