.signup_section {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.signup_section_wrap {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 300px;
  margin: 0 auto;
}

.signup_head {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.signup_head span {
  color: #fff;
  font-size: 32px;
}

.signup_head img {
  width: 40px;
  height: 40px;
}

.signup_body {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
